.home{
    flex: 4;
    margin-top: 50px;
}


.homeWidgets{
    display: flex;
    margin: 20px;
    width: 900px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
