.single {
    display: flex;

    .singleContainer {
      flex: 6;
  
     
      .top {
        padding: 20px;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        .datatableTitle{
          width: 100%;
          font-size: 24px;
          color: gray;
          margin-bottom: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
      
          .link{
            text-decoration: none;
            color: green;
            font-size: 16px;
            font-weight: 400;
            border: 1px solid green;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
          }
        }
  
        .left {
          flex: 1;
          -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
          box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
          position: relative;
          width: 300px;
          height: 200px;
          cursor: pointer;
          
           .editButton {
            position: absolute;
            top: 0;
            right: 29px;
            padding: 5px;
            font-size: 12px;
            color: #7451f8;
            background-color: #7551f818;
            cursor: pointer;
            border-radius: 0px 0px 0px 5px;
          }

          .deleteBtn {
            position: absolute;
            top: 0;
            right: 0;
            padding: 6px;
            font-size: 14px;
            color: #f81f1fc4;
            background-color: #f7f7f7;
            cursor: pointer;
            border-radius: 0px 0px 0px 5px;
          }
  
          .item {
            display: flex;
            .itemImg {
              width: 100px;
              height: 100px;
              border-radius: 50%;
              object-fit: cover;
            }
  
            .details {
              .itemTitle {
                margin-bottom: 10px;
                color: rgb(3, 3, 3);
                font-size: 16px;
              }
  
              .itemValue {
                margin-bottom: 10px;
                font-size: 14px;
              }
            }
          }
         
        }
      }
  
      
    }
  }
  