/*-------------online---------*/
.portailTrombino {
  display: flex;
  flex: 4;
}

.onlineTrombino {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* margin-left: 10px; */
  align-items: center;
}

.portailTr {
  flex: 4;
}

.onlineTrombino .box {
  box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
  background-color: #fff;
  transition: 0.5s;
  align-items: center;
  width: 180px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(168, 166, 166, 0.47);
  border-radius: 7px;
}

.onlineTrombino .img {
  width: 180px;
  height: 180px;
  margin: auto;
  position: relative;
}

.onlineTrombino img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.onlineTrombino h1 {
  font-weight: 500;
  font-size: 20px;
  margin: 20px 10px;
  line-height: 30px;
  text-align: center;
}

.onlineTrombino .box .show {
  opacity: 0;
}

.onlineTrombino .box:hover {
  background-color: #1eb2a6;
  border-radius: 5px;
  cursor: pointer;
}

.onlineTrombino .box:hover .show {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.onlineTrombino .box:hover h1 {
  color: #fff;
}


/*-------------online---------*/
@media screen and (max-width: 768px) {}