.postEvent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 25px 20px 25px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    position: relative;
   width: 300px;
   cursor: pointer;
}

.editButton {
  position: absolute;
  top: 0;
  right: 35px;
  font-size: 14px;
  color: #7451f8;
  background-color: #f7f7f7;
  cursor: pointer;
  border-radius: 0px 0px 0px 5px;
}

.deleteButn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  padding: 3px;
  color: #f81f1fc4;
  background-color: #f7f7f7;
  cursor: pointer;
  border-radius: 0px 0px 0px 5px;
}


.postImage {
  width: 300px;
  height: 150px;
}

.postInfos {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}


.itemsTitle {
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
    color: rgb(18, 44, 44);
    font-size: 24px;
    cursor: pointer;
}

.itemValue {
  margin-bottom: 10px;
  font-size: 14px;
  max-width: 300px;
  margin-left: 10px;
}